body {
    margin: 0;
    background-color: rgb(227, 245, 239);
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho '
    'amarelo azul';
    grid-gap: 10px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 100%;
    width: 700px;
    height: 700px;
}

.blue {
    grid-area: azul;
    background-color: blue;
    border: 1px solid #010188;
    opacity: 0.5;
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: vermelho;
    background-color: red;
    border: 1px solid #6d0202;
    opacity: 0.5;
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: amarelo;
    background-color: yellow;
    border: 1px solid #afaf00;
    opacity: 0.5;
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: verde;
    background-color: green;
    border: 1px solid #033e03;
    opacity: 0.5;
    border-top-left-radius: 100%;
}

.blink {
    opacity: 1.0;
}

.selected {
    opacity: 0.8 !important;
}